body {
    background-color: rgb(241, 156, 227);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(52, 161, 233);
    font-size: 40px;
}

section {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: medium;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    width: 80%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: medium;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    border: none;
    background-color: rgb(5, 72, 255);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(0, 238, 255);
}

.hidden {
    
    background: #fff3cd;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
